<% provide :title, 'Home' %>

<!--
<%= render partial: 'shared/right_menu' %>
-->

<section class="jumbotron comming-soon">
	<div class="container">
		<div class="row">
			<div class="col-md-12"> 
				<div class="col-md-4 text-center">
					<%= image_tag('logo.jpg', ) %>
				</div>

				<div class="col-md-8 text-center" style='margin-top: -40px;'>
				<h3 style='font-weight: bold; font-size: 36px;' class='brand'>EM CONSTRUÇÃO</h2>
				<p>Em breve lançaremos nossa nova plataforma.</p>
					
				<div class='col-md-12' style='margin-bottom: 30px;'>
					<ul class="list-unstyled list-inline">
						<li>
							<div class='Counter CounterDays'>
								<h2></h2>
								<span>Dias</span>
							</div>
						</li>
						<li>
							<div class='Counter CounterHours'>
						  	<h2></h2>
								<span>Horas</span>
							</div>
						</li>
						<li>
							<div class='Counter CounterMinutes'>
								<h2></h2>
								<span>Minutos</span>
							</div>
						</li>
						<li>
							<div class='Counter counterSeconds'>
								<h2></h2>
								<span>Segundos</span>
							</div>
						</li>
					</ul>
				 </div>

					<div class="col-md-12" style='margin-top: 0px;'>
						<p style='font-size: 16px;'>Inscreva-se em nossa <strong>newsletter</strong>
						e você será notificado<br> quando nossa nova plataforma for lançada.</p>	
						
						<div style='margin-top: 30px;'>
						<%= form_for(@newsletter) do |f| %>
							<div class="field col-md-8 col-md-offset-2">
								<%= f.email_field :email, class: 'form-control', required: 'required',
								placeholder: 'Digite o e-mail', autocomplete: 'off' %>
								<%= f.submit 'Inscreva-me', class: 'btn btn-primary btn-lg btn-alv' %>
							</div>
						<% end %>
						</div>
					</div>

					<div id='social' class="col-md-12" style='margin-top: 10px;'>
						<ul class="list-unstyled list-inline">
							<li>
								<%= link_to 'http://bit.ly/2Ww2xEc', target: '_blank', 
								'data-toggle': 'tooltip', title: 'Facebook' do %>
									<i class="fab fa-facebook-f"></i>
								<% end %>
							</li>
							<li>
								<%= link_to 'http://bit.ly/2Vfjp5s', target: '_blank',
								'data-toggle': 'tooltip', title: 'Twitter' do %>
									<i class="fab fa-twitter"></i>
								<% end %>
							</li>
							<li>
								<%= link_to 'http://bit.ly/2PR6n8A', target: '_blank',
								'data-toggle': 'tooltip', title: 'Instagram' do %>
									<i class="fab fa-instagram"></i>
								<% end %>
							</li>
							<li>
								<%= link_to 'http://bit.ly/2H4I0S3', target: '_blank',
								'data-toggle': 'tooltip', title: 'Youtube' do %>
									<i class="fab fa-youtube"></i>
								<% end %>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>